*.glob
*.aux
*.vo
.*.aux
!*.v
*.log
*.spl
*.bbl
*.bcf
*.blg
*.log
*.out
*.xml
*.gz
countdown_repeater_old.v
inv-ack.pdf
presentation/presentation.pdf
presentation/*.nav
presentation/*.snm
presentation/*.toc
presentation/*.vrb
*.vtc
.lia.cache